env
__pycache__
*.pgn*
*.csv*
*.vscode*
*/stockfish_15.1_win_x64_avx2/*
search_tree/data_processing/data_processed/chess_puzzles - Copy.pkl
search_tree/data_processing/data_processed/chess_puzzles - Copy (2).pkl
search_tree/data_processing/data_processed/chess_puzzles.pkl
search_tree/model_training/data/chess_puzzles - Copy.pkl
search_tree/model_training/data/chess_puzzles.pkl
search_tree/bad/pruning_experiments/saved_model/6percentbestmovelogreg.pkl
search_tree/bad/pruning_experiments/saved_model/logreg500iter.pkl
search_tree/bin

neural_networks/bin
neural_networks/chessbot_weights